.dis {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 50vh;
  flex-direction: column; /* Stacks children on different rows */
}
.diss {
  padding: 2px 300px;
  font-weight: bold;
  font-size: 30px;
}

.disa {
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-color: rgb(253, 197, 93);
  border: none;
  padding: 25px;
}
